<header id="header" class="container-fluid">

    <nav class="d-flex flex-row justify-content-around">
      <a class="px-4 py-2" href="/home">Home</a>
      <a class="px-4 py-2" href="/profile">Profile</a>
      <a class="px-4 py-2" href="/games">Game Modes</a>
      <a class="px-4 py-2" href="/logout">Log Out</a>
    </nav>

</header>