<%- include('partials/header') -%>

<main class="container" id="index-background">
    <div class="row justify-content-center mt-5">
        <img 
        src="https://media.tenor.com/M9pwYMWWSl8AAAAC/globe-earth.gif" alt="spinning globe"
        style="
            width: 300px;
        ">
    </div>

    <div id="gameModes" class="row justify-content-around align-items-center mt-5">

            <div class="card" style="width: 20rem; height: 25rem; margin: 25px 0;">
                <img class="card-img-top p-4" style="height: 175px; margin: auto;" src="https://thumbs.gfycat.com/MixedBiodegradableBluetonguelizard-max-1mb.gif" alt="survival-mode-picture">
                <div class="card-body text-center">
                    <a href="/games/survival" class="btn btn-primary align-content-center justify-content-center link-button">Survival Mode</a>
                    <!-- <h5 class="card-title">Card title</h5> -->
                    <p class="card-text" style="margin-top: 15px;">Three lives to get the highest score you can.</p>

                    <!-- <span>Three lives to get the highest score you can</span> -->
                </div>
            </div>

            <div class="card" style="width: 20rem; height: 25rem; margin: 25px 0;">
                <img class="card-img-top p-4" style="height: 175px; margin: auto;" src="https://bestanimations.com/media/clocks/1998493116funny-alarm-clock-animated-gif-3.gif" alt="timeTrial-mode-picture">
                <div class="card-body text-center">
                    <a href="/games/timeTrial" class="btn btn-primary align-content-center justify-content-center link-button">Time Trial Mode</a>
                    <p class="card-text" style="margin-top: 15px;">Answer as many multiple choice answers as you can in 2 minutes.</p>

                    <!-- <span>Answer as many multiple choice answers as you can in 2 minutes</span> -->
                </div>
            </div>

            <div class="card" style="width: 20rem; height: 25rem; margin: 25px 0;">
                <img class="card-img-top p-4" style="height: 175px; margin: auto;" src="https://media1.giphy.com/media/dxld1UBIiGuoh31Fus/giphy.gif" alt="timeTrial-mode-picture">
                <div class="card-body text-center">
                    <a href="/games/hardMode" class="btn btn-primary align-content-center justify-content-center link-button">Hard Mode</a>
                    <p class="card-text" style="margin-top: 15px;">No help here... Fill in the blank.</p>

                    <!-- <span>Answer as many multiple choice answers as you can in 2 minutes</span> -->
                </div>
            </div>
    </div>
</div>
</main>
    

<%- include('partials/footer') -%>