<%- include('partials/header') -%>
<%- include('partials/gamesHeader') -%>

<main class="container" id="index-background">

    <div class="row justify-content-center mt-5">
        <img 
        src="https://1.bp.blogspot.com/-Os_G7fBordU/W1dFCdFA3AI/AAAAAAAAp-I/NLfM0h9Nvw42dtkvBlgzC_1_QFmKHBEVgCLcBGAs/s1600/world_flags_globe_1.gif" alt="spinning globe"
        style="
            width: 300px;
        ">
    </div>

    <h1 id="gameOver">GAME OVER</h1>
    <form id="scoreForm" action="/games/survival/survivalScore?_method=PUT"
    method="POST">
      <div id="finalScoreContainer">
        <label for="survivalScore">You Scored:</label>
          <!-- <h3 name="survivalScore" id="scoreCounter">0</h3> -->
        <!-- </h2> -->
        <input type="text" class="" name="survivalScore" id="finalScoreCount" value="<%=user.currentScore%>" readonly>
      </div>
    </form>
    <div id="gameOverButtonContainer">
      <a class="gameOverButton" href="/games">Return to Menu</a>
      <a class="gameOverButton" href="/games/survival">Try Again</a>
    </div>


</main>
    

<%- include('partials/footer') -%>