<%- include('partials/header') -%>
<%- include('partials/gamesHeader') -%>

<main class="container" id="index-background">

    <div class="row justify-content-center mt-5">
        <img 
        src="https://media.tenor.com/M9pwYMWWSl8AAAAC/globe-earth.gif" alt="spinning globe"
        style="
            width: 300px;
        ">
    </div>

    <h1>GAME OVER</h1>
    <form id="myForm" action="/games/survival/survivalScore?_method=PUT"
    method="POST">
      <div id="scoreContainer">
        <label for="survivalScore">You Scored:</label>
          <!-- <h3 name="survivalScore" id="scoreCounter">0</h3> -->
        <!-- </h2> -->
        <input type="text" class="" name="survivalScore" id="scoreCounter" value="<%=user.currentScore%>">
      </div>
    </form>

    <button><a href="/games">Try Again</a></button>

</main>
    

<%- include('partials/footer') -%>