*{
    box-sizing: border-box;
}
button{
    border: 2px solid black !important;
}
/* html{
    font-size: 62.5%;
    color: white; /*text color white across
    font-family: 'Roboto', sans-serif;
} */

/* #flagImage{
    block-size: auto;
    height: 100px;
    width: 150px;
} */

/* header, main{
    float: left;
    clear: both;
    width: 100%;
    /* border: 1px solid red;
} */

/* header{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

/* header h1{
    text-align: center;
    font-size: 5rem;
    background: #ffca3a;
    color: rgb(40, 40, 40);
    border-radius: 5px;
    box-shadow: 7px 7px 15px 2px black;
} */

/*****************
MAIN
*****************/
/* main #globeContainer{
    display: flex;
    text-align: center;
}

main #globeContainer img{
    display: block;
    margin: 0 auto;
    width: 40%;
    background: #f2e8cf;
    border-radius: 5px;
    box-shadow: 7px 7px 15px 2px black;
}

main #startContainer{
    margin-top: 50px;
    text-align: center;
}

main #startContainer button{
    width: 25%;
    font-size: 3rem;
    padding: 15px;
    border: none;
    color: rgb(40, 40, 40);
    background: #ffca3a;
    border-radius: 5px;
} */

/*****************
BODY - For Background Color
*****************/

/* body{
    background: #1982c4;
} */


/*****************
temporary button colors
*****************/
body{
    background: #ffffe0;
}

#btnGuess, #beginBut, .multipleChoiceButton, .gameOverButton{
    border: 2px solid black;
    background: #0d6efd;
    border-radius: 5px;
}
/*****************
MULTIPLE CHOICE
*****************/
#multipleChoiceContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}
#multipleChoiceContainer div{
    width: 50%;
    text-align: center;
    margin: 25px 0 0 0;
}
.multipleChoiceButton{
    width: 75%;
}
#btnGuess:hover, #beginBut:hover, .multipleChoiceButton:hover, .gameOverButton:hover{
    background: #fbce52;
    color: black;
}
/*****************
GAME PAGE
*****************/
#scoreContainer, #livesContainer{
    margin-left: 50px;
}

#livesContainer{
    display: flex;
    justify-content: left;
}

#livesRemaining{
    padding-left: 15px;
}

#scoreForm input{
    width: 10%;
}

#flagContainer{
    background: #ffffff;
    border: 2px solid black;
    border-radius: 3%;
    margin: 2.5% auto 0 auto;
    padding: 5%;
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#flagImage{
    border: 2px solid black;
    width: 85%;
    margin-bottom: 5%;
}

#answerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input{
    background: none;
    border: none;
}

/* GAME OVER SCREEN */

#gameOver{
    text-align: center;
    font-size: 5rem;
}

#finalScoreContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% auto 0 auto;
}

#finalScoreContainer input{
    margin-left: 10px;
    width: min-content;
}

#gameOverButtonContainer{
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gameOverButton{
    width: 30%;
    text-align: center;
}

/* TEXT */
#scoreForm{
    font-size: 1.5rem;
}

#btnGuess, #beginBut, .multipleChoiceButton, .gameOverButton{
    font-size: 1.5rem;
    color: white;
}

/* MEDIA QUERIES / RESPONSIVENESS */
@media screen and (max-width: 850px){
    #multipleChoiceContainer, #gameOverButtonContainer{
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
    }
    .gameOverButton{
        margin-top: 5%;
        width: 75%;
    }
    #multipleChoiceContainer div{
        width: 100%;
        text-align: center;
        margin: 25px 0 0 0;
    }
    #flagContainer{
        width: 100%;
    }
}