body{
    background: #fcfefc;
}

#header{
    background: #5c364d;
}

a{
    text-decoration: none !important;
}
ul{
    list-style: none;
}
#proPic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
/* HEADER */
header{
    padding: 0;
    color: white;
    border-bottom: black 2px solid;
}
header span{
    font-style: italic;
}
header a{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 700;
}
header a:hover, #logIn:hover{
    color: white;
    background-color: #c37857;
}
/* BUTTONS */
