*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body{
    /* background: url("../imgs/world-map.jpeg");
    background-repeat: repeat;
    background-size: contain; */
    /* background: #f0ece2; */
}

#header{
    background: rgb(76, 175, 225);
    margin: 0;
}

a{
    text-decoration: none !important;
}

.GTCHeader{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#GTCHeaderText{
    display: inline;
    /* background: rgba(255, 255, 255, 0.8); */
    color: black;
    /* color: #90599e; */
    padding: 50px;
    font-size: 5em;
    font-weight: 900;
}

ul{
    list-style: none;
}

/* HEADER */
header{
    font-size: 1.25em;
    padding: 10px;
    color: white;
    box-shadow: 0 0 3px black;
}

header nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header a{
    width: 150px;
    color: white;
    font-weight: 700;
    text-align: center;
}

header h1 a:hover{
    color: white;
}

header nav a:hover{
    color: black;
}

/* BUTTONS */

.logInButtons, .logInButtons:hover{
    /* background: linear-gradient(178deg, rgba(255,255,255,1) 50%, rgba(166,225,255,1) 100%); */
    background: rgba(166,225,255,1);
    color: black;
    border: 4px solid rgba(166,225,255,1);
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5em;
}

.logInButtons:hover{
    background: rgba(166,225,255,1);
    box-shadow: 2px 2px 5px rgb(75, 75, 75);
}

/* USER */

#proPic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}